<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySamsung"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".phones_detail.pictures.galaxy_z.Ph_zfold5_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_z.Ph_zflip5_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_s.Ph_s23ultra_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_s.Ph_s23plus_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_s.Ph_s23_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_a.Ph_a54_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_a.Ph_a34_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_z.Ph_zfold5_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_z.Ph_zflip5_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_s.Ph_s23ultra_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_s.Ph_s23plus_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_s.Ph_s23_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_a.Ph_a54_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_a.Ph_a34_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_z.Ph_zfold5_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_z.Ph_zflip5_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_s.Ph_s23ultra_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_s.Ph_s23plus_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_s.Ph_s23_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_a.Ph_a54_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_a.Ph_a34_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_z.Ph_zfold5_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_z.Ph_zflip5_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_s.Ph_s23plus_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_s.Ph_s23ultra_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_s.Ph_s23_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_a.Ph_a54_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_a.Ph_a34_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_z.Ph_zfold5_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_z.Ph_zflip5_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_s.Ph_s23ultra_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_s.Ph_s23plus_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_s.Ph_s23_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_a.Ph_a54_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_a.Ph_a34_check"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_a.Ph_a54"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_a.Ph_a34"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_z.Ph_zfold5"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_z.Ph_zflip5"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_s.Ph_s23ultra"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_s.Ph_s23plus"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_s.Ph_s23"
            android:exported="false" />
        <activity
            android:name=".year.Year_2018"
            android:exported="false" />
        <activity
            android:name=".year.Year_2020"
            android:exported="false" />
        <activity
            android:name=".views.Tips_f_activity"
            android:exported="false" />
        <activity
            android:name=".views.Tips_m_activity"
            android:exported="false" />
        <activity
            android:name=".views.Tips_a_activity"
            android:exported="false" />
        <activity
            android:name=".views.Tips_s_activity"
            android:exported="false" />
        <activity
            android:name=".views.Tips_note_activity"
            android:exported="false" />
        <activity
            android:name=".views.Tips_z_activity"
            android:exported="false" />
        <activity
            android:name=".views.Tips_software_activity"
            android:exported="false" />
        <activity
            android:name=".views.Tips_series_activity"
            android:exported="false" />
        <activity
            android:name=".views.Customize_goodlock_activity"
            android:exported="false" />
        <activity
            android:name=".views.Hidden_tips_activity"
            android:exported="false" />
        <activity
            android:name=".views.Customize_samsung_activity"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_tab.Ph_tab_s8_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_tab.Ph_tab_s8plus_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_tab.Ph_tab_s8ultra_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_note.Ph_note20_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_note.Ph_note20_5g_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_note.Ph_note20ultra_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_m.Ph_m62_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_m.Ph_m53_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_m.Ph_m33_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_f.Ph_f42_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_f.Ph_f23_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_f.Ph_f13_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_j.Ph_j4_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_j.Ph_j6_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_j.Ph_j8_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_a.Ph_a33_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_a.Ph_a53_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_a.Ph_a73_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_a.Ph_a52s_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_s.Ph_s21fe_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_s.Ph_s22_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_s.Ph_s22plus_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_s.Ph_s22ultra_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_z.Ph_zflip3_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_z.Ph_zfold3_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_z.Ph_zflip4_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_a.Ph_a33_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_a.Ph_a53_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_a.Ph_a73_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_a.Ph_a52s_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_f.Ph_f42_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_f.Ph_f23_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_f.Ph_f13_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_j.Ph_j4_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_j.Ph_j6_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_j.Ph_j8_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_m.Ph_m62_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_m.Ph_m53_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_m.Ph_m33_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_note.Ph_note20_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_note.Ph_note20_5g_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_note.Ph_note20ultra_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_tab.Ph_tab_s8_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_tab.Ph_tab_s8plus_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_tab.Ph_tab_s8ultra_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_s.Ph_s21fe_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_s.Ph_s21fe_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_s.Ph_s22_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_s.Ph_s22plus_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_s.Ph_s22ultra_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_z.Ph_zfold3_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_z.Ph_zflip3_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_z.Ph_zflip4_customize"
            android:exported="false" />
        <activity
            android:name=".views.Device_info_activity"
            android:exported="false" />
        <activity
            android:name=".hidden_tip.Lte_only_activity"
            android:exported="false" />
        <activity
            android:name=".hidden_tip.Fake_call_activity"
            android:exported="false" />
        <activity
            android:name=".year.Year_2023"
            android:exported="false" />
        <activity
            android:name=".goodlock.Goodlock_guide_activity"
            android:exported="false" />
        <activity
            android:name=".goodlock.Goodlock_activity"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_j.Ph_j4_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_j.Ph_j6_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_j.Ph_j8_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_tab.Ph_tab_s8_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_tab.Ph_tab_s8plus_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_tab.Ph_tab_s8ultra_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_f.Ph_f13_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_f.Ph_f42_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_f.Ph_f23_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_m.Ph_m33_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_m.Ph_m62_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_m.Ph_m53_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_z.Ph_zflip3_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_z.Ph_zfold3_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_note.Ph_note20_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_note.Ph_note20_5g_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_note.Ph_note20ultra_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_a.Ph_a52s_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_s.Ph_s21fe_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_s.Ph_s22_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_s.Ph_s22plus_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_s.Ph_s22ultra_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_a.Ph_a33_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_a.Ph_a53_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_a.Ph_a73_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_z.Ph_zflip4_compare"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_j.Ph_j4_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_j.Ph_j6_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_j.Ph_j8_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_tab.Ph_tab_s8_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_tab.Ph_tab_s8plus_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_tab.Ph_tab_s8ultra_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_f.Ph_f13_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_f.Ph_f42_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_f.Ph_f23_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_m.Ph_m33_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_m.Ph_m62_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_m.Ph_m53_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_z.Ph_zflip3_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_z.Ph_zfold3_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_note.Ph_note20_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_note.Ph_note20_5g_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_note.Ph_note20ultra_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_a.Ph_a52s_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_s.Ph_s22_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_s.Ph_s22plus_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_s.Ph_s22ultra_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_a.Ph_a33_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_a.Ph_a53_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_a.Ph_a73_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_z.Ph_zflip4_check"
            android:exported="false" />
        <activity
            android:name=".phones_detail.compare.galaxy_z.Ph_zfold4_compare"
            android:exported="false" />
        <activity
            android:name=".views.Compare_phone_activity"
            android:exported="false" />
        <activity
            android:name=".guide.Guide_background"
            android:exported="false" />
        <activity
            android:name=".views.Customize_phone_activity"
            android:exported="false" />
        <activity
            android:name=".phones_detail.customize.galaxy_z.Ph_zfold4_customize"
            android:exported="false" />
        <activity
            android:name=".phones_detail.pictures.galaxy_z.Ph_zfold4_picture"
            android:exported="false" />
        <activity
            android:name=".phones_detail.check.galaxy_z.Ph_zfold4_check"
            android:exported="false" />
        <activity
            android:name=".views.Webview_activity"
            android:exported="false" />
        <activity
            android:name=".views.Compare_activity"
            android:exported="false" />
        <activity
            android:name=".views.Customize_activity"
            android:exported="false" />
        <activity
            android:name=".views.Tips_activity"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_note.Ph_note20_5g"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_j.Ph_j4_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_j.Ph_j6_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_j.Ph_j8_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_tab.Ph_tab_s8_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_tab.Ph_tab_s8plus_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_tab.Ph_tab_s8ultra_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_f.Ph_f13_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_f.Ph_f42_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_f.Ph_f23_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_m.Ph_m33_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_m.Ph_m62_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_m.Ph_m53_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_z.Ph_zflip3_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_z.Ph_zfold3_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_note.Ph_note20_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_note.Ph_note20_5g_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_note.Ph_note20ultra_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_a.Ph_a52s_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_s.Ph_s21fe_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_s.Ph_s22_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_s.Ph_s22plus_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_s.Ph_s22ultra_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_a.Ph_a33_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_a.Ph_a53_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_a.Ph_a73_full"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_j.Ph_j4"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_j.Ph_j6"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_j.Ph_j8"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_tab.Ph_tab_s8"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_tab.Ph_tab_s8plus"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_tab.Ph_tab_s8ultra"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_f.Ph_f13"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_f.Ph_f42"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_f.Ph_f23"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_m.Ph_m33"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_m.Ph_m62"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_m.Ph_m53"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_z.Ph_zflip4_full"
            android:exported="false" />
        <activity
            android:name=".phones_detail.full.galaxy_z.Ph_zfold4_full"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_z.Ph_zflip3"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_z.Ph_zfold3"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_note.Ph_note20"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_note.Ph_note20ultra"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_s.Ph_s21fe"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_a.Ph_a52s"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_s.Ph_s22"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_s.Ph_s22plus"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_s.Ph_s22ultra"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_a.Ph_a33"
            android:exported="false" />
        <activity
            android:name=".year.Year_2021"
            android:exported="false" />
        <activity
            android:name=".year.Year_2022"
            android:exported="false" />
        <activity
            android:name=".series.Serie_j"
            android:exported="false" />
        <activity
            android:name=".series.Serie_tab"
            android:exported="false" />
        <activity
            android:name=".series.Serie_f"
            android:exported="false" />
        <activity
            android:name=".series.Serie_m"
            android:exported="false" />
        <activity
            android:name=".series.Serie_a"
            android:exported="false" />
        <activity
            android:name=".series.Serie_note"
            android:exported="false" />
        <activity
            android:name=".series.Serie_s"
            android:exported="false" />
        <activity
            android:name=".series.Serie_z"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_a.Ph_a53"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_a.Ph_a73"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_z.Ph_zflip4"
            android:exported="false" />
        <activity
            android:name=".phones.galaxy_z.Ph_zfold4"
            android:exported="false" />
        <activity
            android:name=".views.Phones_activity"
            android:exported="false" />
        <activity
            android:name=".views.Year_activity"
            android:exported="false" />
        <activity
            android:name=".views.Series_activity"
            android:exported="false" />
        <activity
            android:name=".views.Settings_activity"
            android:exported="false" />
        <activity
            android:name=".views.Search_activity"
            android:exported="false"
            android:theme="@style/Theme.searchtheme" />
        <activity
            android:name=".views.About_activity"
            android:exported="false" />
        <activity
            android:name=".views.Ertebat_activity"
            android:exported="false" />
        <activity
            android:name=".views.Home_activity"
            android:exported="false" />
        <activity
            android:name=".views.Splash_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>